:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

html {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.buttons, button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1em;
}

.reset {
  margin-bottom: 2em;
  margin-left: 0.5em;
  width: 8em;
  height: 2em;
  background: white;
  border-radius: 0.4em;
}

.reset:hover {
  background: black;
  color: white;
}

.reset:focus {
  outline: none;
}

.resize {
  margin-bottom: 2em;
  margin-left: 0.5em;
  width: 8em;
  height: 2em;
  background: white;
  border-radius: 0.4em;
}

.resize:hover {
  background: black;
  color: white;
}

.resize:focus {
  outline: none;
}

.pencil {
  margin-bottom: 2em;
  margin-left: 0.5em;
  width: 8em;
  height: 2em;
  background: white;
  border-radius: 0.4em;
}

.pencil:hover, .pencil:focus {
  background: black;
  color: white;
  outline: none;
}

.eraser {
  margin-bottom: 2em;
  margin-left: 0.5em;
  width: 8em;
  height: 2em;
  background: white;
  border-radius: 0.4em;
}

.eraser:hover, .eraser:focus {
  background: black;
  color: white;
  outline: none;
}

.size {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
.container {
  display: grid;
  padding: 0.2em;
  height: 600px;
  width: 600px;
  border: 0.1em solid;
  border-radius: 0.6em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.cell {
  background: rgb(255, 255, 255);
}